
.filter_menu .container {
    padding-left: 30px;
}

.filter_close_name {
    cursor: pointer;
    position: absolute;
    top: 30%;
    left: 10px;
    width: 20px;
    overflow: hidden;
    text-align: center;
}

.profile_info {
    font-size: 14px;
    line-height: 30px;
    display: flex;
    margin: 10px;
}

.profile_img_block {
    margin: auto;
    height: 400px;
    width: 400px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.profile_img_block .img {
    border-radius: 90%;
    height: 400px;
    width: 400px;
    background-size: auto 400px;
    background-position: center;
}

.profile_info_blocks {
    margin-top: 20px;
    margin-bottom: 60px;
}

.profile_info .description {
    font-weight: bold;
}

.profile_info .text {
    margin-left: 20px;
}

.filter_menu {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    background-color: #0d6efd;
}

.filter_menu.active {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    background-color: #0d6efd;
}

.filter_name {
    color: white;
    line-height: 25px !important;
}

.footer_info {
    text-align: center;
}

.footer_info a {
    color: white;
}

.footer_info a:hover {
    color: wheat;
}

main {
    margin-top: 60px;
    min-height: 500px;
}

footer {
    width: 100%;
    height: 400px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.7) 100%);
    padding-top: 100px;
    color: white;
    font-size: 14px;
    display: block;
    bottom: 0px;
}

.add-que {
    margin-bottom: 60px;
}

@media (min-width: 1500px) {
    .filter_menu.active {
        transform: translateX(0px);
    }

    .filter_menu {
        transform: translateX(230px);
        transition: 1s;
    }

    .filter_menu  .filter_form  {
        min-width: 200px;
    }

    .filter_menu {
        margin: 30px !important;
        width: 350px;
        height: 330px;
        padding: 30px;
        right: -100px;
        top: 15%;
        padding-right: 100px;
        position: fixed;
    }

    .filter_name {
        text-align: center;
    }
}

@media (max-width: 1500px) {
    .filter_close_name {
        display: none !important;
    }

    footer {
        width: 100%;
        height: 600px;
        background-color: darkgray;
        border-top: 1px solid black;
        padding-bottom: 200px;
    }

    .filter_menu {
        width: 100%;
        max-height: 330px;
        position: fixed;
        bottom: -100px;
        padding: 30px;
        padding-top: 10px;
        left: 0;
        right: 0;
        padding-bottom: 130px;
    }

    .filter_form {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        align-content: space-around;
    }

    .filter_menu_item {
        flex-wrap: wrap;
        width: 20%;
    }

    .filter_name {
        text-align: left;
    }
}

.filter_menu .filter_menu_item input {
    width: 100%;
    min-height: 25px;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 14px;
    padding-left: 10px;
}

.filter_menu .filter_menu_item input:focus {
    border: 1px solid black;
    outline: none !important;
    padding-left: 10px;
}

.filter_menu_item {
    color: white !important;
}

.filter_menu_item .form-text {
    color: white !important;
    font-size: 12px;
}

.add-que {
    width: 100%;
    height: 60px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    line-height: 50px !important;
    font-size: 15px !important;
}

.card_photo {
    padding: 40px;
}

.image_block {
    height: 400px;
    max-width: 100%;
    overflow: hidden;
    padding: 35px;
    border-radius: 40px;
}

.card_item {
    display: flex;
    border-radius: 20px;
    padding: 20px;
}

.card_item:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.item-picture img {
    max-width: 100%;
    margin: auto !important;
    max-height: 350px;
    border-radius: 20px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    background-color: rgba(243, 242, 242, 0.35);
}

.header {
    padding: 20px 10%;
    background-color: rgba(143, 140, 140, 0.5);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.header-menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.header-menu__item a {
    text-decoration: none;
    color: rgba(73, 73, 73, 1);
    font-size: 20px;
    font-weight: 700;
    transition: all 0.3s;
}

.header-menu__item a:hover {
    color: rgb(109, 108, 108);
}

.header-menu__item svg {
    width: 25px;
    height: 25px;
    margin-right: 40px;
    cursor: pointer;
    transition: all 0.3s;
}

.header-menu__item svg:hover {
    transform: scale(1.1);
}

.header-menu__wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-menu__item-burger {
    margin-left: 10px;
}

.search {
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 5px 10px;
    color: rgba(73, 73, 73, 1);
    font-size: 14px;
    margin-right: 10px;
    min-width: 200px;
}

.item {
    padding-top: 30px;
    padding-bottom: 5%;
}

.item-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    margin-left: 40px;
}

.item-info__characteristics {
    margin: 0;
    padding-left: 15px;
    padding-bottom: 30px;
}

.item-info__characteristics li {
    margin-bottom: 10px;
}

.item-info__characteristics h2 {
    position: relative;
    left: -15px;
    color: rgba(73, 73, 73, 1);
    margin-bottom: 10px;
}

.item-info__title {
    padding-bottom: 20px;
    color: rgba(73, 73, 73, 1);
}

.item-info__title h1 {
    font-size: 36px;
    font-weight: 700px;
    line-height: 100%;
    margin-bottom: 0;
}

.item-info__description {
    font-size: 16px;
    padding-bottom: 30px;
    color: rgba(73, 73, 73, 1);
}

.item-info__price {
    font-size: 20px;
    font-weight: 500;
    color: rgba(73, 73, 73, 1);
}

.sidebar-wrapper {
    position: absolute;
    height: 100%;
    top: 0;
    right: -350px;
    z-index: 2;
    transition: all 0.3s;
}

.sidebar {
    position: relative;
    z-index: 2;
    padding: 30% 20px;
    width: 300px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(243, 243, 243);
    -webkit-box-shadow: 8px 8px 21px 0px rgba(50, 50, 50, 0.35);
    -moz-box-shadow: 8px 8px 21px 0px rgba(50, 50, 50, 0.35);
    box-shadow: 8px 8px 21px 0px rgba(50, 50, 50, 0.75);
}

.sidebar-list {
    list-style: none;
    padding: 0;
}

.sidebar-list__item {
    padding-bottom: 20px;
}

.sidebar-list__item a {
    text-decoration: none;
    color: rgba(73, 73, 73, 1);
    font-size: 20px;
    font-weight: 700;
    transition: all 0.3s;
}

.sidebar-list__item a:hover {
    color: rgb(109, 108, 108);
}

.sidebar-close {
    top: 30px;
    right: 30px;
    font-weight: 700;
    font-size: 40px;
    cursor: pointer;
    position: absolute;
    transition: all 0.3s;
}

.sidebar-close svg {
    width: 30px;
    height: 30px;
}

.sidebar-close:hover {
    color: rgb(109, 108, 108);
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex {
    display: flex;
}


.after_card {
    position: absolute;
    width: 500px;
    height: 80px;
    margin: auto;
    text-align: center;
    transform: translate3d(80px, 0, 0);
    box-shadow: 4px -4px 6px rgba(0, 0, 0, 0.25),
    -4px -4px 6px rgba(0, 0, 0, 0.25);
    background-color: white;
    opacity: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;
    overflow: hidden;
}

.after_card div:nth-child(1) {
    width: 50%;
    height: 100%;
    padding: 15px;
    color: white;
    font-size: 20px;
    background: #0d6efd;
    cursor: pointer;
}

.after_card div:nth-child(2) {
    width: 50%;
    height: 100%;
    padding: 15px;
    color: white;
    background: rgba(255, 0, 0, 0.73);
    font-size: 20px;
    cursor: pointer;
}

.card_item {
    background: white;
    margin-bottom: 10px;
}

.after_card {
    z-index: -500;
    border-radius: 10px 10px 0px 0px;
}

.card_item:hover .after_card {
    transition: 1s;
    transition-property: opacity;
    opacity: 1;
    z-index: 20;
    height: 60px;
    transform: translate3d(80px, -81px, 0) !important;
}

.delete_button {
    display: none;
    position: absolute;
    background: red;
    color: white;
    width: 100px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border-radius: 10px;
}

.delete_button.active {
    display: block;
    position: absolute;
    background: red;
    color: white;
    width: 100px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border-radius: 10px;
    margin-left: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);

}